<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body th:style="'background:url('+ @{/images/fondo.png} +');'">
    <header th:replace="layout/layout :: header"></header>

    <div class="container py-5">

        <div class="card bg-light">
            <div class="card-header" th:text="'Mis Anuncios'"></div>

            <div class="card-body" id="card-body-my-ads">

                <h4 class="card-title">
                    <div  id="div-title">
                        <a class="btn btn-info" th:href="@{/catsReport}"  style="text-align: center">Descargar Listado</a>

                        <a class="btn btn-info" th:href="@{/createPost}"  style="text-align: center" th:data-username="${name}">Crear Anuncio</a>
                    </div>
                </h4>

                <h5 id="filter-title-cats">Filtrar por peso:</h5>

                <div class="py-3" id="filters-form">

                    <div style="width: 100%; height: 70px" id="div-form">
                        <form th:object="${constraintsSearch}" th:action="@{'/showCatsByWeight'}" th:method="get">
                            <input type="number" th:field="*{pesoGato}" style="height: 40px; width: 60px;"/>
                            <button type = "submit" style="height: 40px">Search</button>
                        </form>
                    </div>

                </div>


                <table class="table table-striped" id="table-cats">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th class="th-details">Details</th>
                        <th class="th-general">Nombre</th>
                        <th class="th-general">Raza</th>
                        <th class="th-general">Peso(Kg)</th>
                        <th class="th-general">Edad</th>
                        <th class="th-general">Estado</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                        <th>Postulaciones</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="gato: ${gatos}">
                        <td th:text="${gato.id}"></td>
                        <td th:text="${gato.toString()} + ' - Estatus: ' + ${gato.getEstatusDesc()}"  class="td-details"></td>
                        <td th:text="${gato.nombre}" class="td-general"></td>
                        <td th:text="${gato.raza}" class="td-general"></td>
                        <td th:text="${gato.peso}" class="td-general"></td>
                        <td th:text="${gato.edad}" class="td-general"></td>
                        <td th:text="${gato.getEstatusDesc()}" class="td-general"></td>


                        <td><a class="btn btn-primary btn-sm" id="btn-edit"
                                    th:href="@{/updatePost/} + ${gato.id}" th:text="'Editar'"></a></td>
                        <td><a class="btn btn-danger btn-sm" id="btn-reject"
                                    th:href="@{/deletePost/} + ${gato.id}" th:text="'Eliminar'"
                               onclick="return confirm('¿Desea eliminar su anuncio?');"></a></td>
                        <td><a class="btn btn-warning btn-sm" id="btn-delete"
                                    th:href="@{/showPostulaciones/} + ${gato.id}" th:text="'Postulaciones: ' + ${gato.postulaciones.size()}"></a></td>

                    </tr>
                    </tbody>

                </table>

            </div>

        </div>


    </div>

    <footer class="container">
        <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/jquery-ui.min.js}"></script>
        <script th:src="@{/js/my-ads.js}"></script>
    </footer>

</body>
</html>
