<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body>
<div class="container py-5" id="create-user">
    <div class="card border-primary">
        <div class="card-header">Crear Cuenta</div>

        <div class="card-body" id="body-create-account">

            <form th:action="@{/saveUser}" th:object="${user}"  method="post" class="py-4">

                <div class="form-group">
                    <input type="text" th:field="*{name}"  class="form-control" placeholder="Nombre "
                           th:errorclass="'form-control alert-danger'"/>
                    <div class="form-text text-danger" th:if="${#fields.hasErrors('name')}"
                         th:errors="*{name}"></div>
                </div>

                <div class="form-group">
                    <input type="email" th:field="*{userName}"  class="form-control" placeholder="Email"
                           th:errorclass="'form-control alert-danger'"/>
                    <div class="form-text text-danger" th:if="${#fields.hasErrors('userName')}"
                         th:errors="*{userName}"></div>
                </div>

                <div class="form-group">
                    <input type="password" th:field="*{password}" class="form-control" placeholder="Contraseña "
                           th:errorclass="'form-control alert-danger'"/>
                    <div class="form-text text-danger" th:if="${#fields.hasErrors('password')}"
                         th:errors="*{password}"></div>
                </div>

                <div class="form-group">
                    <input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control" placeholder="Repite Contraseña "
                           th:errorclass="'form-control alert-danger'"/>
                    <div class="form-text text-danger" th:if="${#fields.hasErrors('passwordConfirm')}"
                         th:errors="*{passwordConfirm}"></div>
                </div>

                <div class="form-group row text-center py-3" sec:authorize="isAuthenticated()">
                    <label class="col-form-label">Seleccione un rol : </label>
                    <div class="dropdown">
                        <select class="btn dropdown-toggle" th:field="*{rolSelected}" >
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
                                <option class="dropdown-item"  th:each="value : ${rolesOptions}" th:value="${value.getName()}"
                                        th:text="${value.getName().toUpperCase()}" th:selected="${value.getName()} == *{rolSelected} "></option>
                            </div>
                        </select>
                    </div>
                </div>

                <div class="py-4">
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Guardar Usuario"/>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>
